<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot password</title>
</head>
<body>
    

    <div class="container" id="forgotpassword">
		<form action="/forgotpassword" method="post">
			<div class="form-group">
				<label for="proForgot">Emailid</label>
				<input type="email" class="form-control" id="proForgot" name="email" placeholder="Enter emailid to reset password" required>
			</div>

			<button class="btn btn-primary">Submit</button>
		</form>
	</div>

    <a href="/">Back</a>
</body>
</html>